environments:
  dev-keycloak:
    values:
      - version: 0.0.1
      - env.d/dev-keycloak/values.secrets.yaml
  dev-dinum:
    values:
      - version: 0.0.1
      - env.d/dev-dinum/values.secrets.yaml

---
# The SFU of the dev environments: livekit (default) or ilimo, set by MEET_SFU.
# Ilimo takes livekit-server's host, API key and webhooks: Meet is unchanged.
{{- $sfu := env "MEET_SFU" | default "livekit" }}
repositories:
- name: livekit
  url: https://helm.livekit.io

releases:
- name: extra
  installed: {{ regexMatch "^dev.*" .Environment.Name }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: ./extra
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml
  values:
  - env.d/{{ .Environment.Name }}/values.meet.yaml.gotmpl
  - addRedirect: {{ .Values | get "addRedirect" "False" }}
  - enablePermanentRedirect: {{ .Values | get "enablePermanentRedirect" "False"}}
  - oldDomain: {{ .Values | get "oldDomain" "demo.com" }}
  - newDomain: {{ .Values | get "newDomain" "demo.com" }}
  - realm: |
{{ readFile "../../docker/auth/realm.json" | replace "http://localhost:3200" "https://meet.127.0.0.1.nip.io" | indent 8 }}


- name: meet
  version: {{ .Values.version }}
  namespace: {{ .Namespace }}
  missingFileHandler: Warn
  chart: ./meet
  values:
  - env.d/common.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.meet.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.secrets.yaml
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml

- name: livekit
  installed: {{ and (regexMatch "^dev.*" .Environment.Name) (eq $sfu "livekit") }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: livekit/livekit-server
  values:
  - env.d/{{ .Environment.Name }}/values.livekit.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.secrets.yaml
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml

- name: livekit-egress
  installed: {{ and (regexMatch "^dev.*" .Environment.Name) (eq $sfu "livekit") }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: livekit/egress
  values:
  - env.d/{{ .Environment.Name }}/values.egress.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.secrets.yaml
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml

# Ilimo's chart (vopenia-io/ilimo-deploy); ILIMO_CHART points to another
# copy, a local checkout for instance.
- name: ilimo
  installed: {{ and (regexMatch "^dev.*" .Environment.Name) (eq $sfu "ilimo") }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: {{ env "ILIMO_CHART" | default "git::https://github.com/vopenia-io/ilimo-deploy.git@charts/ilimo?ref=main" }}
  values:
  - env.d/{{ .Environment.Name }}/values.ilimo.yaml.gotmpl
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml
