fullnameOverride: livekit-sip

image:
  repository: localhost:5001/livekit-sip
  pullPolicy: Always
  tag: "latest"

service:
  type: NodePort
  nodePort:
    sip: 32062
    http: 32080

config:
  mountPath: /sip
  fileName: config.yaml
  body: |
    port: 5080
    log_level: info
    redis:
      address: redis-master:6379
      password: pass
    livekit:
      api_key: {{ .Values.livekitApi.key }}
      api_secret: {{ .Values.livekitApi.secret }}
      ws_url: ws://livekit-livekit-server:80
      insecure: true
    sip_port: 5062
    use_external_ip: true
    logging:
      level: debug
    media:
      audio_codecs: ["PCMU", "PCMA", "G722", "opus"]
      rtp_port_range: 10000-20000
      audio:
        sample_rate: 48000
        channels: 1
