fullnameOverride: opensips

image:
  repository: opensips/opensips
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: NodePort
  sipPort: 5060
  nodePort: 32060

config:
  mountPath: /etc/opensips
  fileName: opensips.cfg
  body: |
    # OpenSIPS configuration tuned for LiveKit SIP development
    log_level=3
    log_stderror=yes
    log_facility=LOG_LOCAL0

    listen=udp:0.0.0.0:5060
    listen=tcp:0.0.0.0:5060

    mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"

    loadmodule "signaling.so"
    loadmodule "sl.so"
    loadmodule "tm.so"
    modparam("tm", "fr_timeout", 5)
    modparam("tm", "fr_inv_timeout", 30)
    modparam("tm", "restart_fr_on_each_reply", 0)
    modparam("tm", "onreply_avp_mode", 1)

    loadmodule "rr.so"
    modparam("rr", "append_fromtag", 0)

    loadmodule "maxfwd.so"
    loadmodule "sipmsgops.so"
    loadmodule "mi_fifo.so"
    modparam("mi_fifo", "fifo_name", "/var/run/opensips/opensips_fifo")
    modparam("mi_fifo", "fifo_mode", 0666)

    loadmodule "usrloc.so"
    modparam("usrloc", "nat_bflag", "NAT")
    modparam("usrloc", "working_mode_preset", "single-instance-no-db")

    loadmodule "registrar.so"
    modparam("registrar", "tcp_persistent_flag", "TCP_PERSISTENT")

    loadmodule "nathelper.so"

    loadmodule "acc.so"
    modparam("acc", "early_media", 0)
    modparam("acc", "report_cancels", 0)
    modparam("acc", "detect_direction", 0)

    loadmodule "proto_udp.so"
    loadmodule "proto_tcp.so"

    route{
        if (!mf_process_maxfwd_header(10)) {
            sl_send_reply(483,"Too Many Hops");
            exit;
        }

        if (has_totag()) {
            if (loose_route()) {
                if (is_method("BYE")) {
                    do_accounting("log","failed");
                }
                if (is_method("INVITE")) {
                    record_route();
                }
                route(relay);
            } else {
                if ( is_method("ACK") ) {
                    if ( t_check_trans() ) {
                        t_relay();
                        exit;
                    } else {
                        exit;
                    }
                }
                sl_send_reply(404,"Not here");
            }
            exit;
        }

        if (is_method("CANCEL")) {
            if (t_check_trans())
                t_relay();
            exit;
        }

        t_check_trans();

        if (loose_route()) {
            xlog("L_ERR", "Attempt to route with preloaded Route's [$fu/$tu/$ru/$ci]\n");
            if (!is_method("ACK"))
                sl_send_reply(403,"Preload Route denied");
            exit;
        }

        if (!is_method("REGISTER|MESSAGE"))
            record_route();

        if (is_method("INVITE")) {
            do_accounting("log");
        }

        if (is_method("PUBLISH|SUBSCRIBE")) {
            sl_send_reply(503, "Service Unavailable");
            exit;
        }

        if (is_method("REGISTER")) {
            if (!save("location"))
                sl_reply_error();
            xlog("L_INFO", "User $fu registered from $si:$sp\n");
            exit;
        }

        if ($rU==NULL) {
            sl_send_reply(484,"Address Incomplete");
            exit;
        }

        if ($rU =~ "^[0-9]{4,10}$") {
            xlog("L_INFO", "Routing pin code $rU to LiveKit SIP\n");
            $ru = "sip:" + $rU + "@livekit-sip:5080";
            route(relay);
            exit;
        }

        route(relay);
    }

    route[relay] {
        if (is_method("INVITE")) {
            t_on_branch("per_branch_ops");
            t_on_reply("handle_nat");
            t_on_failure("missed_call");
        }

        if (!t_relay()) {
            send_reply(500,"Internal Error");
        };
        exit;
    }

    branch_route[per_branch_ops] {
        xlog("new branch at $ru\n");
    }

    onreply_route[handle_nat] {
        xlog("incoming reply\n");
    }

    failure_route[missed_call] {
        if (t_was_cancelled()) {
            exit;
        }
    }
